@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap");

:root {
  --primary-light: #f3f4f6;
  --primary-text: rgb(48, 45, 45);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#navbar {
  position: fixed;
  width: 15rem;
  height: 15rem;
  top: calc(50vh - 7.5rem);
  left: 5rem;
  background-color: var(--primary-light);
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

#navbar a {
  text-decoration: none;
  color: var(--primary-text);
  display: block;
  padding-bottom: 0.5rem;
}

#navbar a:hover,
a:focus {
  color: #000000;
}

#navbar a.nav-social {
  padding-top: 0.5rem;
}

#navbar .nav-links {
  margin-top: 0.5rem;
  overflow: scroll;
}

hr {
  border: 1px rgb(218, 205, 205) solid;
  margin: 0;
}

#main-doc {
  padding: 5rem 5rem 5rem 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.main-section {
  max-width: 900px;
}

header {
  font-weight: 600;
}

@media (max-width: 750px) {
  #navbar {
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    height: 5rem;
  }
}
